.cardstack {
    width: 210px;
}

.cardstack img {
    width: 200px;
    padding: 5px;
}

.crop {
  height: 50px;
  overflow: hidden;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   width: 312px;
   padding: 5px 0;
   border-radius: 6px;

   /* Position the tooltip text */
   position: absolute;
   z-index: 1;
   bottom: -25%;
   left: 105%;
}

.tooltip .tooltiptextuncropped {
   bottom: -75px;
}

.tooltip .tooltiptextcropped {
   bottom: -310px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}
